<ul>

	<% sort_by_year_released = @movies.sort_by! {|m| m[:year_released]} %>
	<% sort_by_year_released.each do |movie| %>
	<li>
		<%= movie.title %>
		<%= movie.year_released %>
		<%= link_to 'Edit', edit_movie_path(movie) %> 
		<%= link_to 'Show', movie %>
	</li>
	<% end %>
</ul>
