<ul>
	<% sort_by_title = @movies.sort_by! {|m| m[:title]} %>
	<% sort_by_title.each do |movie| %>
	<li>
		<%= movie.title %>
		<%= movie.year_released %>
		<%= link_to 'Edit', edit_movie_path(movie) %> 
		<%= link_to 'Show', movie %>
	</li>
	<% end %>
</ul>
