<h1>Welcome to Lynn's Movie App!</h1>

<p>Check out the catalogue of movies.</p>
<p>You can also search for a movie ...</p>

<%= form_tag search_path do %>
	<%= text_field_tag 'search'%>
	<%= submit_tag 'Go' %>
<% end %>

<%= render 'movie_list' %>