<h1>Welcome to Paper Scissors Rock!</h1>

<p>Please choose your implement</p>

<!-- <h2><ul>
	<li>
		<%= link_to "PAPER", paper_scissors_rock_play_path %>
	</li>
	<li>	
		<%= link_to "SCISSORS", paper_scissors_rock_play_path %>
	</li>
	<li>
		<%= link_to "ROCK", paper_scissors_rock_play_path %>
	</li>
</ul></h2> -->