<h1>Welcome to the Arcade!!</h1>

<h2>Choose a game to play:</h2>

<ul>
	<li>
		<%= link_to "Magic 8 Ball", magic_eight_ball_path %>
	</li>
	<li>
		<%= link_to "Secret Number", secret_number_game_path %>
	</li>
	<li>
		<%= link_to "Paper Scissors Rock", paper_scissors_rock_path %>
	</li>
</ul>